@import "_variables";
@import "_scrollbar";
@import "_input";

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

// TODO: Cleanup the following
h2 {
  margin-top: 0;
}

h3 {
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  color: #eee;
  margin-bottom: 5px;
}

h4 {
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #555;
  color: #777;
  padding-bottom: 5px;
  font-weight: 400;
  text-transform: capitalize;
}

.set {
  text-transform: uppercase;
}

.civilization {
  text-transform: capitalize;
}

td.fill {
  width: 100%;
}

td.no-break {
  white-space: nowrap;
}

.image--card {
  border-radius: 5%;
}

img {
  max-width: 100%;
  display: block;
}
