@import "_variables";


// TODO: Cleanup the following
h3 {
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  color: #eee;
  margin-bottom: 5px;
}

h4 {
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #555;
  color: #777;
  padding-bottom: 5px;
  font-weight: 400;
  text-transform: capitalize;

}
